# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Backup and temporary files
*.log
*.tmp
*.swp
*.bak
*.orig

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/

# Environment files
.env

# Python virtualenv
venv/

# Git
*.patch
*.rej

# Database files
.db/data

#Loadtest results
/frontend-loadtest/results/
!frontend-loadtest/.env

# Coverage and ADR files
.coverage
.adr-dir
kuma_data/kuma.db

/keycloak-export/export/timsicher-users-*.json
.direnv